
.login_container {
  background-color: var(--4);
  padding: 20px;
  width: clamp(270px, 20vw, 80vw);

  clip-path: var(--clipPath1)
      
}
  
.login_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login_item {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 10px;
  width: clamp(200px, 18vw, 78vw);
  border: none;
  outline: none;
  font-family: var(--font);

  clip-path: var(--clipPath2)
}

.login_input {
  background-color: var(--1);
  font-size: clamp(0.5rem, 1rem, 5rem);
  color: var(--4);
  border-bottom: 1px solid var(--4);

  transition-timing-function: ease;
  transition-duration: 0.25s;
}

.login_input::placeholder {
  color: var(--4);
  opacity: 0.7;
}

.login_input:focus {
  transition-timing-function: ease;
  transition-duration: 0.25s;

  border-bottom: 5px solid var(--5);
}

.logInbtn {
  font-size: clamp(0.5rem, 1rem, 5rem);
  background-color: var(--0);
  color: var(--4);
  cursor: pointer;

  transition-timing-function: ease;
  transition-duration: 0.25s;
}

.logInbtn:hover {
  transition-timing-function: ease;
  transition-duration: 0.25s;

  background-color: var(--2);
  color: var(--1);
}

#static_logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login_footer {
  color: var(--0);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.login_footer_action a {
  text-decoration: none;
  border: none;
  margin: 10px;
  font-size: clamp(0.5rem, 0.75rem, 4.5rem);
  color: var(--1);
}

.login_footer_action a:hover {
  border-bottom: 1px solid var(--5);
}