@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400&display=swap');

:root {
  --0: #062c43;
  --1: #054569;
  --2: #5591a9;
  --3: #9ccddc;
  --4: #ced7e0;
  --5: #ef5b5b;
  --font: 'Dosis', sans-serif;

  --font-size1: clamp(0.5rem, 0.75rem, 5rem);

  --cutoffSize1: 30px;
  --cutoffSize2: 15px;

  --clipPath1: polygon(
                  0% var(--cutoffSize1),
                  var(--cutoffSize1) 0%,
                  100% 0%,
                  100% calc(100% - var(--cutoffSize1)),
                  calc(100% - var(--cutoffSize1)) 100%,
                  0% 100%
                );
  
  --clipPath2: polygon(
                  0% var(--cutoffSize2),
                  var(--cutoffSize2) 0%,
                  100% 0%,
                  100% calc(100% - var(--cutoffSize2)),
                  calc(100% - var(--cutoffSize2)) 100%,
                  0% 100%
                );

  --clipPathLeftCut: polygon(
                  0% var(--cutoffSize2),
                  var(--cutoffSize2) 0%,
                  100% 0%,
                  100% 100%,
                  0% 100%
                );  
                
  --clipPathRightCut: polygon(
                  0% 0%,
                  100% 0%,
                  100% calc(100% - var(--cutoffSize2)),
                  calc(100% - var(--cutoffSize2)) 100%,
                  0% 100%
                );
}